<h1>Listing lemurs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lemurs.each do |lemur| %>
      <tr>
        <td><%= lemur.name %></td>
        <td><%= lemur.email %></td>
        <td><%= link_to 'Show', lemur %></td>
        <td><%= link_to 'Edit', edit_lemur_path(lemur) %></td>
        <td><%= link_to 'Destroy', lemur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lemur', new_lemur_path %>
